@import 'tailwindcss';
@import 'normalize.css';
@import '@noonnu/bmjua';

* {
  box-sizing: border-box;
}

body {
  overflow-y: auto;
  margin: 0;
}

main.app {
  --main-color: #fafaf8;
  --main-theme-color: #ed6b6b;

  font-family: BMJUA;
  color: var(--main-color);
  display: flex;
  position: relative;
  height: 576px;
  background: var(--main-theme-color);
  height: 100dvh;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease;
}

main.app[data-state='work'] {
  --main-theme-color: #ed6b6b;
}

main.app[data-state='break'] {
  --main-theme-color: #38858a;
}

main.app[data-state='long-break'] {
  --main-theme-color: #397097;
}

[hidden] {
  display: none !important;
}

/* 타이머 생성 화면 */
.timer-create-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

#create-timer {
  display: flex;
  width: 90px;
  height: 90px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--main-theme-color);
  border: none;
  background: #fff;
}

label[for='create-timer'] {
  display: block;
  font-size: 30px;
}

/* 이 아래는 2번째 페이지 입니다. */
/* 타이머 설정창 */

#ipsum {
  color: black;
}
