:root {
  --main-theme-color: #ed6b6b;
  --main-color: #fafaf8;
}

body {
  font-family: BMJUA;
  color: var(--main-color);
  overflow-y: auto;
}

#create-timer {
  display: flex;
  width: 90px;
  height: 90px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--main-theme-color);
  border: none;
  background: #fff;
}

label[for='create-timer'] {
  display: block;
  font-size: 30px;
}
main#app {
  position: relative;
  display: flex;
  height: 576px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
  background: var(--main-theme-color);
  height: 100dvh;
}

#ipsum {
  color: black;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

#setting-timer {
  position: relative;
  display: flex;
  width: 620px;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  background: #c46464;
  border-radius: 6px;
  box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.25);
}

.close-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  button[aria-label='닫기'] {
    width: 48px;
    height: 48px;
    padding: 0;
    border: none;
    background: none;
    color: var(--main-color);
  }
}

.row-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.time-row {
  display: flex;
  width: 503px;
  justify-content: space-between;
  align-items: center;
}

.time-row-label {
  width: 118px;
  height: 37px;
  flex-shrink: 0;
  text-align: right;
  font-family: BMJUA;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.528px;
}

.time-row-value {
  display: flex;
  width: 375px;
  padding: 8px 0;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: none;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  box-shadow: 0 8px 12px 6px rgba(0, 0, 0, 0.15), 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  /* flex: 1 0 0; */
  color: currentColor;
  text-align: center;
  font-family: BMJUA;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -1.056px;
}

.generate-row {
  display: flex;
  padding: 2px 31px;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  box-shadow: 0 8px 12px 6px rgba(0, 0, 0, 0.15), 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  border: none;
  color: currentColor;
  text-align: center;
  font-family: BMJUA;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.616px;
}
